.register-form{
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.register-form-content{
    width: 45vw;
    height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
}

.register-img{
    width: 45vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: linear-gradient(rgba(50, 77, 216, 0.7),rgba(3, 23, 126, 0.5)),  url(../../../assets/img/homw-bg.jpg);
}

.register-img p{
    color: #ddd;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}

.register-form-content h2{
    font-size: 44px;
    padding: 20px 0px;
    color: var(--primary-color);
}

.register-form-content .input-box{
    padding: 10px 0px;
}

.register-form-content .input-box label{
    display: inline-block;
    width: 100px;
    color: var(--primary-color);
    text-transform: capitalize;
}

.gender-box{
    display: flex;
}

.register-form-content .input-box input::placeholder{
    text-transform: capitalize;
}

.register-form-content .input-box input[type="radio"]{
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.form-check{
    display: flex;
    align-items: center;
}



@media (max-width:1024px) {
    .register-form{
        min-height: max-content;
        overflow: visible;
        flex-direction: column-reverse;
    }

    .register-img{
        display: none;
    }

    .register-form-content{
        width: 100vw;
        padding: 20px;
        margin-top: 20px;
        min-height: max-content;
    }

    .register-form-content .input-box input[type="password"],
    .register-form-content .input-box input[type="number"],
    .register-form-content .input-box input[type="email"],
    .register-form-content .input-box input[type="text"]{
        width: 100%;
    }
}