<section class="home-page">
        <div class="home-page-info">
            <p>{{"mariana" | translate}}</p>
        </div>
        <div class="animate top"></div>
        <div class="animate buttom"></div>
       <div class="home-page-content">
        <div class="content">
            <h2>{{"hello" | translate}}</h2>
            <p>{{"welcome" | translate}}</p>
            <button (click)="loginURL()">{{"login" | translate}}</button>
            <button (click)="registerURL()">{{"register" | translate}}</button>
        </div>
       </div>
</section>